<!doctype html>
<html class="fixed">
	<head>

		<!-- Basic -->
		<meta charset="UTF-8">

		<title>Dashboard | JSOFT Themes | JSOFT-Admin</title>
		<meta name="keywords" content="HTML5 Admin Template" />
		<meta name="description" content="JSOFT Admin - Responsive HTML5 Template">
		<meta name="author" content="JSOFT.net">

		<!-- Mobile Metas -->
		<meta name="viewport" content="width=device-width, initial-scale=1.0, maximum-scale=1.0, user-scalable=no" />

		<!-- Web Fonts  -->
		<link href="http://fonts.googleapis.com/css?family=Open+Sans:300,400,600,700,800|Shadows+Into+Light" rel="stylesheet" type="text/css">

		<!-- Vendor CSS -->
		<link rel="stylesheet" href="assets/vendor/bootstrap/css/bootstrap.css?ver=1" />
		<link rel="stylesheet" href="assets/vendor/font-awesome/css/font-awesome.css" />
		<link rel="stylesheet" href="assets/vendor/magnific-popup/magnific-popup.css" />
		<link rel="stylesheet" href="assets/vendor/bootstrap-datepicker/css/datepicker3.css" />

		<!-- Specific Page Vendor CSS -->
		<link rel="stylesheet" href="assets/vendor/jquery-ui/css/ui-lightness/jquery-ui-1.10.4.custom.css" />
		<link rel="stylesheet" href="assets/vendor/bootstrap-multiselect/bootstrap-multiselect.css" />
		<link rel="stylesheet" href="assets/vendor/morris/morris.css" />

		<!-- Theme CSS -->
		<link rel="stylesheet" href="assets/stylesheets/theme.css?ver=1" />

		<!-- Skin CSS -->
		<link rel="stylesheet" href="assets/stylesheets/skins/default.css" />

		<!-- Theme Custom CSS -->
		<link rel="stylesheet" href="assets/stylesheets/theme-custom.css">

		<!-- Head Libs -->
		<script src="assets/vendor/modernizr/modernizr.js"></script>

		<script>
		//처음 실행하자마자

		function MarkerClick(id)
		{
			alert(id + "값이 눌림ㅋ");
			setInterval(function()
			{
				//데이터 베이스로 접근
				 document.getElementById('temperatureValue').innerHTML = i;
				 document.getElementById('airConditionValue').innerHTML = i;
				 document.getElementById('heartRateValue').innerHTML = i;

			}, 3000);
		}
		</script>
	</head>
	<body>
		<?php
			if(isset($message))
			{
				echo "<script>alert('$message');</script>";
			};
		?>
		<section class="body">
			<!-- start: header -->
			<header class="header">
					<div class="logo-container" style = "cursor : pointer">
							<a href = "/main" class="logo">
								<img src="assets/images/logo.png" height="35" alt="JSOFT Admin" />
							</a>
					</div>

				<!-- start: search & user box -->
				<div class="header-right">
					<div id="userbox" class="userbox">
						<a href="#" data-toggle="dropdown">
							<figure class="profile-picture">
								<img src="assets/images/!logged-user.jpg" alt="Joseph Doe" class="img-circle" data-lock-picture="assets/images/!logged-user.jpg" />
							</figure>
							<div class="profile-info" data-lock-name="John Doe" data-lock-email="johndoe@JSOFT.com">
								<span class="name"><?php
																					if(isset($_SESSION['userName']))
																					{
																						echo $_SESSION["userName"];
																					}
																					else
																					{
																						echo "<script>alert('Wrong connection'); history.back();</script>";
																					}
																		?>
																	</span>
								<span class="role"></span>
							</div>

							<i class="fa custom-caret"></i>
						</a>

						<div class="dropdown-menu">
							<ul class="list-unstyled">
								<li class="divider"></li>
								<!-- 구분라인-->
								<li>
										<div style = "cursor : pointer">
											<a href = "/myprofile" role="menuitem" tabindex="-1" ><i class="fa fa-user"></i> My Profile</a>
										</div>
								</li>
							<!-- ID Cancellation-->
								<li>
									<a role="menuitem" tabindex="-1" href="/idCancellation"><i class="fa fa-edit"></i> ID Cancellation</a>
								</li>

								<!-- Sensor list View-->
									<li>
										<a role="menuitem" tabindex="-1" href="/sensorListView"><i class="fa fa-th-list"></i> Sensor List View</a>
									</li>

								<li>
									<a role="menuitem" tabindex="-1" href="/logout"><i class="fa fa-power-off"></i> Logout</a>
								</li>
							</ul>
						</div>
					</div>
				</div>
				<!-- end: search & user box -->
			</header>
			<!-- end: header -->

			<div class="inner-wrapper">

				<section role="main" class="content-body">
					<header class="page-header">
						<h2>Dashboard</h2>
						 <!--우측 DashBoard 안쓸꺼임
						<div class="right-wrapper pull-right">
							<ol class="breadcrumbs">
								<li>
									<a href="index.html">
										<i class="fa fa-home"></i>
									</a>
								</li>
								<li><span>Dashboard</span></li>
							</ol>

							<a class="sidebar-right-toggle" data-open="sidebar-right"><i class="fa fa-chevron-left"></i></a>
						</div>
						-->
					</header>

						<div class="row">
						<!-- 작은 아이콘 모음-->
						<div class="col-md-6 col-lg-12 col-xl-6">
							<div class="row">
							<!-- 1번째 아이콘  A_temperature-->
								<div class="col-md-12 col-lg-6 col-xl-6 main-theme">
									<section class="panel panel-featured-left panel-featured-primary">
										<div class="panel-body">
											<div class="widget-summary">
											<!-- 여기서 부터 아이콘 수정 가능 -->
												<div class="widget-summary-col widget-summary-col-icon">
													<div class="summary-icon">
														<img src="assets/images/A_temperature.png" height="90"></i>
													</div>
												</div>
											<!-- 여기 까지 아이콘 수정 가능 -->
												<div class="widget-summary-col">
													<div class="summary">
														<h4 class="main-icon-title" style="font-size : 35px;">Temperature</h4>
														<div class="info">
															<strong id = "temperatureValue" class="main-icon-content">75</strong>
															<span class="text-primary">℉</span>
														</div>
													</div>
												</div>
											</div>
										</div>
									</section>
								</div>
								<!-- 2번째 아이콘 A_clouds-->
								<div class="col-md-12 col-lg-6 col-xl-6 main-theme">
									<section class="panel panel-featured-left panel-featured-secondary">
										<div class="panel-body">
											<div class="widget-summary">
											<!-- 여기서 부터 아이콘 수정 가능-->
												<div class="widget-summary-col widget-summary-col-icon">
													<div class="summary-icon">
														<img src="assets/images/A_clouds.png" height="90"></i>
													</div>
												</div>
											<!-- 여기 까지 아이콘 -->
												<div class="widget-summary-col">
													<div class="summary">
														<h4 class="main-icon-title" style="font-size : 35px;">Air Condition</h4>
														<div class="info">
															<strong id = "airConditionValue" class="main-icon-content">Good</strong>
														</div>
													</div>
												</div>
											</div>
										</div>
									</section>
								</div>
								<!-- 3번째 아이콘 A_heart-->
								<div class="col-md-12 col-lg-6 col-xl-6 main-theme">
									<section class="panel panel-featured-left panel-featured-tertiary">
										<div class="panel-body">
											<div class="widget-summary">
												<!-- 여기서 부터 아이콘 수정 가능-->
												<div class="widget-summary-col widget-summary-col-icon">
													<div class="summary-icon">
														<img src="assets/images/A_heart.png" height="70"></i>
													</div>
												</div>
											<!-- 여기 까지 아이콘 -->
												<div class="widget-summary-col">
													<div class="summary">
														<h4 class="main-icon-title" style="font-size : 35px;" >Heart Rate</h4>
														<div class="info">
															<strong id = "heartRateValue" class="main-icon-content">38</strong>
														</div>
													</div>
												</div>
											</div>
										</div>
									</section>
								</div>
							</div>
						</div>
					</div>

					<!-- start: page -->
					<div class="row">
						<div class="col-md-6 col-lg-12 col-xl-6">
							<section class="panel">
								<div class="panel-body">
									<div class="row">
										<div class="col-lg-7">
											<div class="chart-data-selector" id="salesSelectorWrapper">
												<h2>
													Sales:
													<strong>
														<select class="form-control" id="salesSelector">
															<option value="JSOFT Admin" selected>Temperature</option>
															<option value="JSOFT Drupal" >Air Condition</option>
															<option value="JSOFT Wordpress" >Heart Rate</option>
														</select>
													</strong>
												</h2>

												<div id="salesSelectorItems" class="chart-data-selector-items mt-sm">
													<!-- Flot: Sales JSOFT Admin -->
													<div class="chart chart-sm" data-sales-rel="JSOFT Admin" id="flotDashSales1" class="chart-active"></div>
													<script>

														var flotDashSales1Data = [{
														    data: [
														        ["Jan", 140],
														        ["Feb", 240],
														        ["Mar", 190],
														        ["Apr", 140],
														        ["May", 180],
														        ["Jun", 320],
														        ["Jul", 270],
														        ["Aug", 180]
														    ],
														    color: "#0088cc"
														}];

														// See: assets/javascripts/dashboard/examples.dashboard.js for more settings.

													</script>

													<!-- Flot: Sales JSOFT Drupal -->
													<div class="chart chart-sm" data-sales-rel="JSOFT Drupal" id="flotDashSales2" class="chart-hidden"></div>
													<script>

														var flotDashSales2Data = [{
														    data: [
														        ["Jan", 240],
														        ["Feb", 240],
														        ["Mar", 290],
														        ["Apr", 540],
														        ["May", 480],
														        ["Jun", 220],
														        ["Jul", 170],
														        ["Aug", 190]
														    ],
														    color: "#2baab1"
														}];

														// See: assets/javascripts/dashboard/examples.dashboard.js for more settings.

													</script>

													<!-- Flot: Sales JSOFT Wordpress -->
													<div class="chart chart-sm" data-sales-rel="JSOFT Wordpress" id="flotDashSales3" class="chart-hidden"></div>
													<script>

														var flotDashSales3Data = [{
														    data: [
														        ["Jan", 840],
														        ["Feb", 740],
														        ["Mar", 690],
														        ["Apr", 940],
														        ["May", 1180],
														        ["Jun", 820],
														        ["Jul", 570],
														        ["Aug", 780]
														    ],
														    color: "#734ba9"
														}];

														// See: assets/javascripts/dashboard/examples.dashboard.js for more settings.

													</script>
												</div>

											</div>
										</div>

										<head>
										<script  async defer type="text/javascript" src="https://maps.googleapis.com/maps/api/js?key=AIzaSyDjbN2lQmxUpGoxsJg0auyB3T5McPlHQco&language=en&callback=initMap" ></script>
												  <script type="text/javascript">
													//marker부분
												 function getJSONMarkers()
 												 {
													 //location 부분은 나중에 database로 부터 받아야함
													 //test로 3개를 찍은건데 데이터 베이스에서 row갯수만큼 marker좀 만들어 주세요

 													 const markers =
 													 [
 														 {
 															 name : "section 1",
 															 location : [32.8808, -117.2346]
 														 },
 														 {
 															 name : "section 2",
 															 location : [32.8791, -117.2372]
 														 },
 														 {
 															 name : "section 3",
 															 location : [32.8709, -117.2373]
 														 }
 													 ];
 													 return markers;
 												 }

												 function initialize() {
												   	var myLatlng = new google.maps.LatLng(32.8801,-117.2339);
												    var myOptions = {
															zoom: 15,
															center: myLatlng,
															mapTypeId: google.maps.MapTypeId.ROADMAP
												   	}

														//id 매칭
												   	var map = new google.maps.Map(document.getElementById("map_canvas"), myOptions);

														//Load JSON data
														const testMarkers = getJSONMarkers();
														for(m of testMarkers)
														{
															var i =1;
																let marker = new google.maps.Marker({
																	map : map,
																	position : new google.maps.LatLng(m.location[0], m.location[1]),
																	title : m.name
																})
																marker.metadata = {'id' : i};
																marker.addListener('click',function()
																{
																	MarkerClick(marker.get('title'));
																});
																i++;
														}

												   	/*var marker = new google.maps.Marker( {
															position: myLatlng,
															map: map,
															title:"UCSD"
												   });
												   var infowindow = new google.maps.InfoWindow( {
														 content: "UCSD"
												   });
												   infowindow.open(map,marker);*/
												 }
												  	window.onload=function() {
												   	initialize();
												  }
												  </script>

											<div id="map_canvas" style="width:40%; height:300px; "></div>

										</head>
										</div>
									</div>
								</div>
							</section>
						</div>
					</div>
					<!-- end: page -->
				</section>
			</div>

			<aside id="sidebar-right" class="sidebar-right">
				<div class="nano">
					<div class="nano-content">
						<a href="#" class="mobile-close visible-xs">
							Collapse <i class="fa fa-chevron-right"></i>
						</a>

						<div class="sidebar-right-wrapper">

							<div class="sidebar-widget widget-calendar">
								<h6>Upcoming Tasks</h6>
								<div data-plugin-datepicker data-plugin-skin="dark" ></div>

								<ul>
									<li>
										<time datetime="2014-04-19T00:00+00:00">04/19/2014</time>
										<span>Company Meeting</span>
									</li>
								</ul>
							</div>

							<div class="sidebar-widget widget-friends">
								<h6>Friends</h6>
								<ul>
									<li class="status-online">
										<figure class="profile-picture">
											<img src="assets/images/!sample-user.jpg" alt="Joseph Doe" class="img-circle">
										</figure>
										<div class="profile-info">
											<span class="name">Joseph Doe Junior</span>
											<span class="title">Hey, how are you?</span>
										</div>
									</li>
									<li class="status-online">
										<figure class="profile-picture">
											<img src="assets/images/!sample-user.jpg" alt="Joseph Doe" class="img-circle">
										</figure>
										<div class="profile-info">
											<span class="name">Joseph Doe Junior</span>
											<span class="title">Hey, how are you?</span>
										</div>
									</li>
									<li class="status-offline">
										<figure class="profile-picture">
											<img src="assets/images/!sample-user.jpg" alt="Joseph Doe" class="img-circle">
										</figure>
										<div class="profile-info">
											<span class="name">Joseph Doe Junior</span>
											<span class="title">Hey, how are you?</span>
										</div>
									</li>
									<li class="status-offline">
										<figure class="profile-picture">
											<img src="assets/images/!sample-user.jpg" alt="Joseph Doe" class="img-circle">
										</figure>
										<div class="profile-info">
											<span class="name">Joseph Doe Junior</span>
											<span class="title">Hey, how are you?</span>
										</div>
									</li>
								</ul>
							</div>

						</div>
					</div>
				</div>
			</aside>
		</section>

		<!-- Vendor -->
		<script src="assets/vendor/jquery/jquery.js"></script>
		<script src="assets/vendor/jquery-browser-mobile/jquery.browser.mobile.js"></script>
		<script src="assets/vendor/bootstrap/js/bootstrap.js"></script>
		<script src="assets/vendor/nanoscroller/nanoscroller.js"></script>
		<script src="assets/vendor/bootstrap-datepicker/js/bootstrap-datepicker.js"></script>
		<script src="assets/vendor/magnific-popup/magnific-popup.js"></script>
		<script src="assets/vendor/jquery-placeholder/jquery.placeholder.js"></script>

		<!-- Specific Page Vendor -->
		<script src="assets/vendor/jquery-ui/js/jquery-ui-1.10.4.custom.js"></script>
		<script src="assets/vendor/jquery-ui-touch-punch/jquery.ui.touch-punch.js"></script>
		<script src="assets/vendor/jquery-appear/jquery.appear.js"></script>
		<script src="assets/vendor/bootstrap-multiselect/bootstrap-multiselect.js"></script>
		<script src="assets/vendor/jquery-easypiechart/jquery.easypiechart.js"></script>
		<script src="assets/vendor/flot/jquery.flot.js"></script>
		<script src="assets/vendor/flot-tooltip/jquery.flot.tooltip.js"></script>
		<script src="assets/vendor/flot/jquery.flot.pie.js"></script>
		<script src="assets/vendor/flot/jquery.flot.categories.js"></script>
		<script src="assets/vendor/flot/jquery.flot.resize.js"></script>
		<script src="assets/vendor/jquery-sparkline/jquery.sparkline.js"></script>
		<script src="assets/vendor/raphael/raphael.js"></script>
		<script src="assets/vendor/morris/morris.js"></script>
		<script src="assets/vendor/gauge/gauge.js"></script>
		<script src="assets/vendor/snap-svg/snap.svg.js"></script>
		<script src="assets/vendor/liquid-meter/liquid.meter.js"></script>
		<script src="assets/vendor/jqvmap/jquery.vmap.js"></script>
		<script src="assets/vendor/jqvmap/data/jquery.vmap.sampledata.js"></script>
		<script src="assets/vendor/jqvmap/maps/jquery.vmap.world.js"></script>
		<script src="assets/vendor/jqvmap/maps/continents/jquery.vmap.africa.js"></script>
		<script src="assets/vendor/jqvmap/maps/continents/jquery.vmap.asia.js"></script>
		<script src="assets/vendor/jqvmap/maps/continents/jquery.vmap.australia.js"></script>
		<script src="assets/vendor/jqvmap/maps/continents/jquery.vmap.europe.js"></script>
		<script src="assets/vendor/jqvmap/maps/continents/jquery.vmap.north-america.js"></script>
		<script src="assets/vendor/jqvmap/maps/continents/jquery.vmap.south-america.js"></script>

		<!-- Theme Base, Components and Settings -->
		<script src="assets/javascripts/theme.js"></script>

		<!-- Theme Custom -->
		<script src="assets/javascripts/theme.custom.js"></script>

		<!-- Theme Initialization Files -->
		<script src="assets/javascripts/theme.init.js"></script>


		<!-- Examples -->
		<script src="assets/javascripts/dashboard/examples.dashboard.js"></script>
	</body>
</html>
